html, body {

    height:100%;
}
body {
    width: 100%;       
    background: #b1e583;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding:0px;
}
table{
    width:100%;
    float: left;
}
.outer-wrapper{
    min-height: 130%;
    float:left;

}
/*next & previous */
.posts-nav-wrap {
    text-align: center;
    width: 100%;
    height: 53px;
    margin: 30px 0;
    display: inline-block;
    clear: both;
}


.backBtn,.nextBtn {
    margin: 0 13px 0 0;
    display: inline-block;
}

.nextBtn{
    float: right;

}

.backBtn{
    float: left;
    clear: both;
}


.backBtn a,.nextBtn a {
    text-indent: -9999em;
    text-align: left;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    -moz-transition: all .20s linear;
    -webkit-transition: all .20s linear;
    transition: all .20s linear;
}

.nextBtn a {
    background: #6fa93c url(ico-pagination-arrow-next.png) no-repeat center;
    width: 144px;
    height: 53px;
    line-height: 53px;

}

.nextBtn a:hover {
    text-decoration: none;
    background: #ffe900 url(ico-pagination-arrow-next.png) no-repeat 110px center;
}

.backBtn a {
    width: 78px;
    height: 53px;
    line-height: 53px;
    background-color: #6fa93c;
    background-image: url(ico-pagination-arrow-previous.png);
    background-position: center;
    background-repeat: no-repeat;
}

.backBtn a:hover {
    text-decoration: none;
    background: #ffe900 url(ico-pagination-arrow-previous.png) no-repeat 12px center;
}

/*paragraph*/
p {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
    text-align: left;
    background-color: white;
    color:#888;
    padding: 7px;
}
p + p {
    text-indent: 2.5em;
}


/*header*/
#header{
    background: #6fa93c;
    height:30px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    z-index: 2000;


}
.headerbar{
    float: left;
    width: 95%;
    text-align: Center;
    margin: 10px auto;
}

.link-home{
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}

.link-wizard{

    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}
.pathfinderLogo{
    bottom: 0;
    display: block;
    height: 30px;
    left:50%;
    margin-left: -40px;
    opacity: .9;
    position: absolute;
    top: 5px;
    width: 80px;
    text-align: center;
    -webkit-transition: opacity ease-in 85ms;
    transition: opacity ease-in 85ms;
    z-index: 2001;  

}
.header-logo-default {
    background-image: url(logo.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80px 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
}
#menu-nav{
    float: left;
}
#user-nav{
    position:absolute;
    right: 0px;
}

#notlogIn a{
    background-color: rgb(240, 180, 12);
    padding:0 12px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}
#loggedIn a{
    background-color: rgb(52, 152, 219);
    padding:0 12px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}

#welcomeMessage{
    margin-right: 10px;
    color: white;
}


/* Form Progress */
.progress {
    width: 99%;
    margin: 20px auto;
    text-align: center;
}
.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}
.progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}
.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}
.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
    color: #444;
}
.progress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
    color: #0c95be;
}
/*transision*/


.content{
    top: 20px;
    position: absolute;
    /*padding-bottom: 30px;*/
    margin-left: 3.5%;
}

.statscontent{
    top: 140px;
    position: absolute;
    margin-left: 3.5%;
}   
.statscontent h2,.content h2{
    font-size: 40px;
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    margin: 0;
    display: inline-block;
}

.panel{
    width: 98%;
    height:98%;
    min-height: 98%;
    position: absolute;
    background-color: #000;
    /*background:#f5f5f5;*/
    margin-left: -102%;
    z-index:2;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.panel:target{

    margin-left: 0%;
    background-color: #b1e583;
}

index.html:target ~  #header #menu-nav #link-home,
characterWizard.html:target ~  #header #menu-nav #link-wizard,
#signup:target ~ #header #user-nav #link-signup,
#login:target ~ #header #user-nav #link-login,
#stats:target ~ #progress #link-stats,
#race:target ~ #progress #link-race,
#class:target ~ #progress #link-class,
#bio:target ~ #progress #link-bio
#results:target ~ #progress #results{

    background: #000;

}#works {
    padding: 15px 0px;
}
#works li{
    display: inline;
}
#works li a{
    padding-right: 10px;
}
#works img {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 12px; 
    background: rgba(255,255,255,0.9);
}
#form p{
    background: #fff;
    color: #000;
}
#form input, #form textarea{
    background: #000;
    color: #fff;
    border: none;
}
#form textarea{
    width: 493px;
    height: 100px;
}
#form label{
    padding-right: 10px;
    float: left;
}
.footnote a{
    color: #ddd;
}

/*button style*/
.statsbutton{
    color: rgb(255, 255, 255);
    width:195px;
    height: 80px;
    margin-right: 3%;
    margin-left: 7.5%;
    margin-bottom: 38px;
    font-size: 20px;

    letter-spacing:2px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgb(52, 152, 219);
    -webkit-box-shadow: 0px 5px 1px rgba(20, 105, 162, 0.75);
    -moz-box-shadow:    0px 5px 1px rgba(20, 105, 162, 0.75);
    box-shadow:         0px 5px 1px rgba(20, 105, 162, 0.75);
    float: left;
}
.classbutton{
    color: rgb(255, 255, 255);
    width:120px;
    height: 60px;
    margin-right: 38px;
    margin-bottom: 38px;
    font-size: 15px;

    letter-spacing:2px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgb(240, 180, 12);
    -webkit-box-shadow: 0px 5px 1px rgba(203, 153, 14, 0.75);
    -moz-box-shadow:    0px 5px 1px rgba(203, 153, 14, 0.75);
    box-shadow:         0px 5px 1px rgba(203, 153, 14, 0.75);
    float: left;
}
.racebutton{
    color: rgb(255, 255, 255);
    width:110px;
    height: 60px;
    margin-right: 38px;
    margin-bottom: 38px;
    font-size: 15px;

    letter-spacing:2px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgb(26, 188, 156);
    -webkit-box-shadow: 0px 5px 1px rgba(14, 140, 115, 0.75);
    -moz-box-shadow:    0px 5px 1px rgba(14, 140, 115, 0.75);
    box-shadow:         0px 5px 1px rgba(14, 140, 115, 0.75);
    float: left;
}
.progress img{
    margin-right:40px;
}


/*class*/
#class_buttons{

    width: 95%;
    text-align: center;
    margin: 0 auto;

}

#classPicture{
    width: 25%;
    margin-left: 10%;
    float: left;
}
#classImage{
    height:400px;
    width:250px;
}
#classDescription{
    width: 50%;
    float: left;

}

/*stats*/
#dice
{
    clear: both;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}


#diceBtn img{
    width: 15%;
    cursor: pointer;
    margin: 20px 20px 20px 20px;
}

#dieBtn{

}
#dieBtn img{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.container{
    float: left;
    margin-bottom: 38px;
}
#stats p{

}
#stats-button{
    margin: 0 auto;
    width: 58%;
    float:left;
}

#stats-description{
    width:35%;
    margin-left:3%;
    height: auto;
    float: left;
}


/*race*/
#race_picture{
    float: left;
    width: 50%;
}
#race_picture img{
    width:90%;
}
#race_buttons{
    width: 95%;
    text-align: center;
    margin: 0 auto;
}
#lbl_race_abil{
    display: block;
    width: 45%;
    float: left;
    margin-left: 3%;
}

#lbl_race_desc{

    width:90%;
    margin-top: 20px;

}

/*bio*/

#bio_img_info{
    margin-top: 3%;
    float: left;
    width: 95%;
}
#bio_image{
    float: left;
    margin-left:3%;
}

#bio_image img{
    height: 400px;
    width:316px;
}
#bio_info{
    font-size: 18px;
    float:left;
    margin-left:3%;
    width: 60%;
}
.basicsInfo label{
    float: left;
    width: 150px;
    display: block;
    margin: 0px 0px 5px;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    color: white;
}

.basicsInfo form{
    margin: 0px;
    border:1px;
}
.basicsInfo textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
    border: 1px solid #C5E2FF;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    margin: 2px 6px 16px 0px;
}
.basicsInfo input,select{
    color: #888;
    width: 40%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
br{
    clear: left;
}

/* Result page*/
#result_img_bio{
    margin-top: 3%;
    float: left;
    width: 95%;
}
#result_img{
    float: left;
    margin-left:3%;
}

#result_img img{
    height: 400px;
    width:316px;
}
#result_desc{
    width: 90%;
}
#result_bio{
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    margin: 0;
    display: inline-block;
    line-height: 1.25em;
    font-size: 1.5em;
    float: left;
    margin-left: 3%;
    width: 60%;
}
.result_bio_style{
    color: #0c95be;
    font-weight: bold;
    font-size: 1.6em;
}
.result_style{
    font-size: 0.75em;
    float: left;
    margin-left: 3%;
    width: 25%;
    margin-top: 3%;
    background-color: white;
    padding: 1%;
    line-height: 150%;
    clear: right;
}


/*footer*/
footer .footer-wrapper {
    margin: 0;
    padding: 3px 20px;
    text-align: center;
}

footer {
    background-color: #6fa93c;
    z-index: 2000;
    clear: both;
    font-size: 0.8em;
    height: 50px;
    margin-top: -50px;
    position: relative;
    text-align: center;
}

.footer-text p {
    color: white;
    font-size: 1em;
    margin: 0;
    text-align: center;
    padding:0px;
    background-color: #6fa93c;

}


/*login signup*/

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
fieldset ol {
    padding: 0;
    list-style: none;
}
fieldset label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

fieldset ol li {
    padding-bottom: 5px;
}

fieldset input[type="text"], fieldset input[type="password"] {
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

input[type="submit"] {
    background-color: #d3dce0;
    border: solid 1px #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
}
/* for 980px or less*/
@media screen and (max-width:980px){
    .panel{

        display: none;

    }
    .panel:target{
        display:inherit;
        margin-left: 0%;
        background-color: #b1e583;
    }



    fieldset input[type="text"], fieldset input[type="password"] {
        width: 90%;
    }
}
/* for 480px or less*/
@media screen and (max-width:480px){
    #header {
        height: 64px;
    }
    .link-wizard {
        display:block;
    }
    #loggedIn a{
        display:block; 
    }
    #notlogIn a{
        display:block; 
    }


    fieldset input[type="text"], fieldset input[type="password"] {
        width: 90%;
    }

    .backBtn a, .nextBtn a {

        width: 300px;

    }
    .backBtn, .nextBtn {
        margin: 0 auto;
        text-align: center;
        float:none;
    }

    /* Form Progress */
    .progress {
        width: 99%;
        margin: 20px auto;
        text-align: center;
    }
    .progress .circle,
    .progress .bar {
        display: inline-block;
        background: #fff;
        width: 20px; height: 20px;
        border-radius: 20px;
        border: 1px solid #d5d5da;
    }
    .progress .bar {
        position: relative;
        /*width: 80px;*/
        height: 3px;
        top: -23px;
        margin-left: -5px;
        margin-right: -5px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .progress .circle .label {
        display: inline-block;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 15px;
        margin-top: 3px;
        color: #b5b5ba;
        font-size: 1px;
    }
    .progress .circle .title {
        color: #b5b5ba;
        font-size: 13px;
        line-height: 30px;
        margin-left: -5px;
    }

    /* Done / Active */
    .progress .bar.done,
    .progress .circle.done {
        background: #eee;
    }
    .progress .bar.active {
        background: linear-gradient(to right, #EEE 40%, #FFF 60%);
    }
    .progress .circle.done .label {
        color: #FFF;
        background: #8bc435;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    }
    .progress .circle.done .title {
        color: #444;
    }
    .progress .circle.active .label {
        color: #FFF;
        background: #0c95be;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
    }
    .progress .circle.active .title {
        color: #0c95be;
    }


    /*transition*/
    .content{
        top: 20px;
        position: absolute;
        padding-bottom: 30px;
    }

    .statscontent{
        top: 140px;
        position: absolute;
        padding-bottom: 30px;
    }   
    .statscontent h2,.content h2{
        font-size: 40px;
        color: rgba(255,255,255,0.9);
        text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
        margin: 0;
        display: inline-block;
    }

    .panel{
        display: none;

    }
    .panel:target{
        display:inherit;
        margin-left: 0%;
        background-color: #b1e583;
    }

    #race_picture {
        /* float: left; */
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }  
    #lbl_race_desc {
        clear: both;
        width: 85%;
        text-align: center;
        margin: 0 auto;    
        margin-top: 3%;
        margin: 0 auto;
    }

    #lbl_race_abil {
        clear: both;
        display: block;
        width: 85%;
        float:none;
        margin-top: 3%;
        text-align: center;
        margin: 0 auto;
    }

    .racebutton {

        width: 90px;
        height: 45px;
        margin-right: 3%;
        margin-bottom: 3%;
        font-size: 0.5em;
        letter-spacing: 2px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        float: left;
    }

    .classbutton {

        width: 90px;
        height: 45px;
        margin-right: 3%;
        margin-bottom: 3%;
        font-size: 0.5em;
        letter-spacing: 2px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        float: left;
    }

    .statsbutton {
        color: rgb(255, 255, 255);
        width: 170px;
        height: 55px;
        margin-right: 3%;
        margin-left: 7.5%;
        margin-bottom: 3%;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 20px;
        text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        background: rgb(52, 152, 219);
        -webkit-box-shadow: 0px 5px 1px rgba(20, 105, 162, 0.75);
        -moz-box-shadow: 0px 5px 1px rgba(20, 105, 162, 0.75);
        box-shadow: 0px 5px 1px rgba(20, 105, 162, 0.75);
        float: left;
    }
    .container {
        float: left;
        margin-bottom: 3%;
        width: 60px;
    }

    #dieBtn img {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        width: 60px;
    }
    #stats-description{
        width: 90%;
        clear: both;
        margin: 0 auto;
        text-align: center;
        float: none;
    }
    #stats-button{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    /*class*/

    #classDescription, #classPicture{
        text-align: center;
        margin: 0 auto;
        width:90%;
    }

    /*result*/
    #result_bio{

        width: 90%;
    }

    .result_style{

        width: 90%;

    }

    /*bio*/
    #bio_info {
        font-size: 18px;
        float: none;
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }
    #bio_image {
        float:none;
        margin-left: 3%;
    }

}

