html, body {

    height:100%;
}
body {
    width: 100%;       
    background: #b1e583;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0px;
    padding:0px;



}




/*next & previous */
.posts-nav-wrap {
  text-align: center;
  width: 100%;
  height: 53px;
  margin: 30px 0;
  display: inline-block;
  clear: both;
}


.backBtn,.nextBtn {
  margin: 0 13px 0 0;
  display: inline-block;
}

.nextBtn{
  float: right;

}

.backBtn{
    float: left;
    clear: both;
}


.backBtn a,.nextBtn a {
  text-indent: -9999em;
  text-align: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  -moz-transition: all .20s ease-in-out;
  -webkit-transition: all .20s ease-in-out;
  transition: all .20s ease-in-out;
}

.nextBtn a {
  background: #6fa93c url(ico-pagination-arrow-next.png) no-repeat center;
  width: 144px;
  height: 53px;
  line-height: 53px;
  
}

.nextBtn a:hover {
  text-decoration: none;
  background: #ffe900 url(ico-pagination-arrow-next.png) no-repeat 110px center;
}

.backBtn a {
  width: 78px;
  height: 53px;
  line-height: 53px;
  background-color: #6fa93c;
  background-image: url(ico-pagination-arrow-previous.png);
  background-position: center;
  background-repeat: no-repeat;
}

.backBtn a:hover {
  text-decoration: none;
  background: #ffe900 url(ico-pagination-arrow-previous.png) no-repeat 12px center;
}

/*paragraph*/
p {
    font-size: 1em;
    line-height: 1.25em;
    margin: 0;
    text-align: left;
    background-color: white;
    color:#888;
    padding: 5px;
}
p + p {
    text-indent: 2.5em;
}
p:first-letter {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    float: left;
    margin: 0 0.107em 0 0;
}

p + p:first-letter {
    font-size: 1em;
    line-height: 1.25em;
    float: none;
    margin: 0;
}
p + p:first-line {
    font-weight: 400;
}



/*header*/
#header{
    background: #6fa93c;
    height:30px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    z-index: 2000;


}
.headerbar{
  float: left;
  width: 95%;
  text-align: Center;
  margin: 10px auto;
}

.link-home{
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}

.link-wizard{

    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}
.pathfinderLogo{
    bottom:0;
    display: block;
    height: 30px;
    left: 50%;
    margin-left:-40px;
    position:absolute;
    z-index: 2001;  
}
#menu-nav{
    float: left;
}
#user-nav{
    position:absolute;
    right: 0px;
}

#notlogIn a{
    background-color: rgb(240, 180, 12);
    padding:0 12px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}
#loggedIn a{
    background-color: rgb(52, 152, 219);
    padding:0 12px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    height: 15px;
    margin: 0 5px 5px 0;
    padding:8px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: auto;
}

#welcomeMessage{
  margin-right: 10px;
  color: white;
}


/* Form Progress */
.progress {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}
.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}
.progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}
.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}
.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
    color: #444;
}
.progress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
    color: #0c95be;
}

/*
#header h1{
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        color: rgba(255,255,255,0.9);
        text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
        padding: 20px;
        background: #000;
}
#navigation {
       
        margin-top: 20px;
        width: 235px;
        display:block;
        list-style:none;
        z-index:3;
}
#navigation a{
        color: #444;
        display: block;
        background: #fff;
        background: rgba(255,255,255,0.9);
        line-height: 50px;
        padding: 0px 20px;
        text-transform: uppercase;
        margin-bottom: 6px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
        font-size: 14px;
}
#navigation a:hover {
        background: #ddd;
}*/
.content{
    left: 100px;
    top: 20px;
    position: absolute;
    padding-bottom: 30px;
}

.statscontent{
    left: 100px;
    top: 140px;
    position: absolute;
    padding-bottom: 30px;
}
.statscontent h2,.content h2{
  font-size: 40px;
  color: rgba(255,255,255,0.9);
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  margin: 0;
  display: inline-block;
}

.panel{
    width: 98%;
    height:1000px;
    min-height: 100%;
    position: absolute;
    background-color: #000;
    /*background:#f5f5f5;*/
    margin-left: -102%;
    z-index:2;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.panel:target{
    margin-left: 0%;
    background-color: #b1e583;
}

index.html:target ~  #header #menu-nav #link-home,
characterWizard.html:target ~  #header #menu-nav #link-wizard,
#signup:target ~ #header #user-nav #link-signup,
#login:target ~ #header #user-nav #link-login,
#stats:target ~ #progress #link-stats,
#race:target ~ #progress #link-race,
#class:target ~ #progress #link-class,
#bio:target ~ #progress #link-bio{

    background: #000;

}#works {
    padding: 15px 0px;
}
#works li{
    display: inline;
}
#works li a{
    padding-right: 10px;
}
#works img {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 12px; 
    background: rgba(255,255,255,0.9);
}
#form p{
    background: #fff;
    color: #000;
}
#form input, #form textarea{
    background: #000;
    color: #fff;
    border: none;
}
#form textarea{
    width: 493px;
    height: 100px;
}
#form label{
    padding-right: 10px;
    float: left;
}
.footnote a{
    color: #ddd;
}
/*button style*/
.statsbutton{
    color: rgb(255, 255, 255);
    width:195px;
    height: 80px;
    margin-right: 38px;
    margin-bottom: 38px;
    font-size: 20px;

    letter-spacing:2px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgb(52, 152, 219);
    -webkit-box-shadow: 0px 5px 1px rgba(20, 105, 162, 0.75);
    -moz-box-shadow:    0px 5px 1px rgba(20, 105, 162, 0.75);
    box-shadow:         0px 5px 1px rgba(20, 105, 162, 0.75);
    float: left;
}
.classbutton{
    color: rgb(255, 255, 255);
    width:120px;
    height: 60px;
    margin-right: 38px;
    margin-bottom: 38px;
    font-size: 15px;

    letter-spacing:2px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgb(240, 180, 12);
    -webkit-box-shadow: 0px 5px 1px rgba(203, 153, 14, 0.75);
    -moz-box-shadow:    0px 5px 1px rgba(203, 153, 14, 0.75);
    box-shadow:         0px 5px 1px rgba(203, 153, 14, 0.75);
    float: left;
}
.racebutton{
    color: rgb(255, 255, 255);
    width:110px;
    height: 60px;
    margin-right: 38px;
    margin-bottom: 38px;
    font-size: 15px;

    letter-spacing:2px;
    padding: 20px;
    text-shadow: 0px -1px 0px rgba(140, 140, 140, 0.39);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: rgb(26, 188, 156);
    -webkit-box-shadow: 0px 5px 1px rgba(14, 140, 115, 0.75);
    -moz-box-shadow:    0px 5px 1px rgba(14, 140, 115, 0.75);
    box-shadow:         0px 5px 1px rgba(14, 140, 115, 0.75);
    float: left;
}
.progress img{
    margin-right:40px;
}


/*class*/
#class_buttons{
    float:left;
    width:956px;
}

#classPicture{
    width:40%;
    float: left;
}
#classImage{
    height:400px;
    width:250px;
}
#classDescription{
    width: 50%;
    float: left;

}

/*stats*/
#dice
{
    clear:both;
}


#diceBtn img{
    width: 180px;
    height: 100px;
    cursor: pointer;
    margin: 20px 20px 20px 220px;
}

#dieBtn{
    margin-left: 40px;
}
#dieBtn img{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.container{
    float: left;
    margin-right: 80px;
    margin-bottom: 38px;
}
#stats p{

}
#stats-button{
    width:800px;
    height: 292px;
    float:left;
}
#stats-description{
    width:30%;
    height: auto;
    float: left;
}


/*race*/
#race_picture{
    float: left;
}

#lbl_race_abil{
    display: block;
    width: 40%;
    float: right;
    margin-right: 40px;
}

#lbl_race_desc{
    float: left;
    width:50%;
    margin-top: 20px;

}

/*bio*/
#bio_image{
    float: left;
}

#bio_image img{
    height: 400px;
    width:316px;
}
#bio_info{
    font-size: 18px;
    float:left;
    margin-left: 80px;
    width: 60%;
}
.basicsInfo label{
    float: left;
    width: 150px;
    display: block;
    margin: 0px 0px 5px;
    text-align: left;
    padding-right: 10px;
    margin-top: 10px;
    color: white;
}

.basicsInfo form{
    margin: 0px;
    border:1px;
}
.basicsInfo textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
    border: 1px solid #C5E2FF;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    margin: 2px 6px 16px 0px;
}
.basicsInfo input,select{
    color: #888;
    width: 40%;
    padding: 0px 0px 0px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height:15px;
    margin: 2px 6px 16px 0px;
}
br{
    clear: left;
}


